/* styles.css */
body {
    font-family: Arial, sans-serif;
}

#quiz-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

#question-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#options-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.option {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ddd;
    cursor: pointer;
}

#joker, #start-btn, #home-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#joker:disabled {
    background-color: #999;
    cursor: not-allowed;
}

.correct {
    background-color: #8bc34a !important;
}

.incorrect {
    background-color: #f44336 !important;
}
